@import "tailwindcss";
@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree/Figtree-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Figtree', sans-serif;
}


@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree/Figtree-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
